body{
    display: flex;
    flex-direction: column;
    
}
.con{
    display: grid ;
    margin-left: 450px;
}

.controls{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1px;
    padding-left: 0;
    margin-left: 70px;
}
